<div ng-include="'partials/navbar'"></div>

<form role="form" ng-submit="addItem($event)">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Ice cream" autofocus="true" ng-model="item.name">
  </div>
</form>

<div class="row marketing">
  <table class="table">
    <tr ng-repeat="item in items">
      <td width="5%">
        <input type="checkbox" />
      </td>
      <td width="80%">
        {{ item.title }}
      </td>
      <td width="15%">
        <b>
          <a href="/lists/{{ item.id }}">{{ item.list }}</a>
        </b>
      </td>
    </tr>
  </table>
</div>
