<div ng-include="'partials/navbar'"></div>
<h3>Grocery</h3>
<form role="form" ng-submit="addItem($event)">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Ice cream" autofocus="true" ng-model="item.name">
  </div>
</form>

<div class="row marketing">
  <table class="table">
    <tr ng-repeat="item in items" ng-class="{ completed: item.completed }">
      <td width="5%">
        <input type="checkbox" ng-click="toggleComplete($event, item)" />
      </td>
      <td width="95%">
        {{ item.name }}
      </td>
    </tr>
  </table>
</div>
